


img {
	width: 250px;
	display: block;
	margin: auto;
	padding-top: 50px;
}

input {
	width: 25%;
	display: block;
	margin: auto;
	-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
    width: 70%;
}

input[type=text] {
   width: 80%

}

#header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    right: 15px;
}

li {
    float: left;
    font-family: 'Helvetica Neue';
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: lightblue;
}


#footer {
	position: absolute;
	list-style-type: none;
	left: 10%;
	bottom: 0;
	width: 100%;

}



#LeftNav {
	background-color: lightblue;
	width: 80px;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	transition: width .5s;
}

#LeftNav:hover {
	width: 170px;
	animation: ease;
}

div p {
	font-family: 'Helvetica Neue';
}

#bottomBox {
	background-color: grey;
	height: 35px;
	vertical-align: bottom;
}

button {
	margin: auto;
	display: block;
}

